:root,
[data-bs-theme=light] {
  --secondary: #b3a100;
  --bs-body-color: #404040;
  --bs-secondary: #404040;
  --bs-heading-color: #BEA343;
  --bs-gray-200: #404040;
  --bs-secondary-bg: #444b40;
  --bs-primary-bg-subtle: #404040;
  --bs-body-bg: #404040;
}

:root,
[data-bs-theme=dark] {
  --secondary: #b3a100;
  --bs-body-color: #404040;
  --bs-secondary: #404040;
  --bs-heading-color: #BEA343;
  --bs-gray-200: #404040;
  --bs-secondary-bg: #444b40;
  --bs-primary-bg-subtle: #404040;
  --bs-body-bg: #404040;
}
body {
  overflow-x: hidden;
}

/* Show the horizontal scroll bar for screens with a max-width of 768px */
@media (max-width: 768px) {
  body {
      overflow-x: auto;
  }
}

h6, .h6, h5, .h5, h4, .h4, h3, .h3, h2, .h2, h1, .h1 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}


h2{
  background: #3535358f;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  padding-left: 30px;
  max-width: 842px;
}

h2.file_upload_header{
  padding-left: 20px;
  width: 290px;
}

.titlebar {
  background-color: #30302f;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
}


.graph{
  max-width: 842px;
}

/*Sliders Style*/
.rc-slider-rail{
  background-color: #595353;
}

.rc-slider-track {
  background-color: #BEA343;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.rc-slider-handle {
  background-color: #D9D9D9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  width: 15px;
  height: 15px;
  flex-shrink: 0;
  align-self: center;
  border: solid 2px #D9D9D9;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.rc-slider-dot {
  border: 2px solid #D9D9D9;
  background-color: #D9D9D9;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.rc-slider-handle-click-focused{
  border: 2px solid #D9D9D9;
}

.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
  border-color: #D9D9D9;
  box-shadow: 0 0 0 5px #D9D9D9;
}

.rc-slider-handle:focus {
  outline: none;
}
.rc-slider-handle-click-focused:focus {
  border-color: #D9D9D9;
  box-shadow: unset;
}
.rc-slider-handle:hover {
  border-color: #D9D9D9;
}
.rc-slider-handle:active {
  border-color: #D9D9D9;
  box-shadow: 0 0 5px #D9D9D9;
}

.rc-slider-dot-active {
  border-color: #D9D9D9;
}

.rc-slider-tooltip-inner {
  box-shadow: 0 0 4px #00000000;
  color: #fff;
}


/*Upload Button */

.upload_button{
  width: 290px;
  height: 60px;
  text-align: center;
  background-color: var(--secondary);
  border-radius: 5px;
  border-width: 0px;
  border-style: groove;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
  cursor:pointer;
  display: flex; /* Add this property */
  justify-content: center; /* Center horizontally */
  align-items: center;

  /*style={
    'width': '290px',
    'height': '60px',
    'lineHeight': '60px',
    'borderWidth': '1px',
    'borderStyle': 'solid',
    'borderRadius': '5px',
    'textAlign': 'center',
    'background-color': '#BEA343',
    'cursor': 'pointer',
  },
  style_active={
      'background-color': 'D9D9D9',
      'text-color': '#BEA343',
      'cursor': 'pointer',
  },
  style_reject={
      'width': '100%',
      'height': '60px',
      'lineHeight': '60px',
      'borderWidth': '1px',
      'borderStyle': 'solid',
      'borderRadius': '5px',
      'textAlign': 'center',
      'background-color': '#FFFFF',
      'cursor': 'pointer',*/
}




